@use 'variables'as *;

@use 'mixins'as *;

@use 'bootstrap';

html {
  position: relative;
  min-height: 100%;
}

body {
  ///* Margin bottom by footer height 
  position: relative;
  top: -40px;
  margin-top: -50px;
  margin-bottom: 60px;
  text-align: center;

}


.section-main {
  background-image: url('../assets/img/main_section_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  padding-bottom: 40px;
  transform: skewY(-1.5deg);

  h1 {
    font-size: 70px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    max-height: 200px;
  }

  h1,
  h3,
  img {
    transform: skewY(1.5deg);
  }
}

.section-skills {
  padding-top: 20px;
  background-color: #999;
  transform: skewY(-1.5deg);
  padding-bottom: 40px;

  & > div {
    transform: skewY(1.5deg);
  }
}