@use 'variables'as *;

@use 'mixins'as *;

@use 'bulma.sass';

body,
html {
  background-color: $background;
}

.navbar {
  .jk-logo {
    min-height: 100px;
    min-width: 100px;
  }

  .navbar-brand {
    float: left;
  }

  .navbar-end {
    float: right;

    .columns {
      height: 100%;
    }
  }
}

.has-primary-color {
  background-color: $primary-dark;
  color: $primary;
}

.content ul {
  list-style-type: none;
  margin: auto;
}

.skills {
  .grid-wrapper {
    display: grid;
    grid-template-columns: 47% auto 47%;
    grid-template-rows: auto;
    grid-template-areas:
      'languages line backend'
      'frontend  line deployment'
      'margin1    line margin2';

    @media screen and (max-width: 768px) {
      grid-template-columns: 100%;
      grid-template-areas:
        'languages'
        'backend'
        'frontend'
        'deployment';

      .grid-item .box {
        margin-left: 50px;
        margin-right: 50px;
      }
    }
  }

  .grid-item .box {
    margin: 5px;
  }

  .item-languages {
    grid-area: languages;
  }

  .item-backend {
    grid-area: backend;
  }

  .item-frontend {
    grid-area: frontend;
  }

  .item-deployment {
    grid-area: deployment;
  }

  .item-line {
    margin-top: 10px;
    grid-area: line;
    position: relative;
    left: calc(50% - 4px);
    border-left: 8px dotted $primary-dark;
  }

  .item-margin1 {
    height: 20px;
    grid-area: margin1;
  }

  .item-margin2 {
    grid-area: margin2;
  }

  .container {
    padding-top: 5rem;
  }
}

.box {
  background-color: $card-background-color;
}

.has-long-background {
  padding-bottom: 3rem;
  position: absolute;
  width: 100%;
}

.projects {
  .technologies {
    img {
      max-height: 40px;
    }
  }

  .container {
    padding-top: 6.5rem;
  }
}

.aboutme {
  margin-top: rem;

  .container {
    padding-top: 5rem;
  }
}